name: Pylint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Python Code Quality and Lint
      uses: ricardochaves/python-lint@v1.4.0
      with:
        python-root-list: ./label_studio_converter
        extra-pylint-options: --fail-under=5
