name: "Release Pipeline"

on:
  release:
    types:
      - released

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.event.pull_request.head.ref || github.ref }}
  cancel-in-progress: true

env:
  DOWNSTREAM_REPO_OWNER: heartexlabs
  DOWNSTREAM_REPO: label-studio

jobs:
  build-pypi:
    name: "Build"
    permissions:
      contents: write
    uses: heartexlabs/label-studio-converter/.github/workflows/build_pypi.yml@master
    with:
      version: ${{ github.ref_name }}
      ref: ${{ github.ref_name }}
      upload_to_pypi: true
      release-id: ${{ github.event.release.id }}
    secrets: inherit

  create-ls-pr:
    name: "Create LS PR"
    runs-on: ubuntu-latest
    needs:
      - build-pypi
    steps:
      - uses: hmarr/debug-action@v2.1.0

      - name: DispatchEvent
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.GIT_PAT }}
          script: |
            await github.rest.repos.createDispatchEvent({
              owner: '${{ env.DOWNSTREAM_REPO_OWNER }}',
              repo: '${{ env.DOWNSTREAM_REPO }}',
              event_type: 'upstream_pip_dependency_update',
              client_payload: {
                dependency_name: 'label-studio-converter',
                version: '${{ github.ref_name }}',
              }
            });
